<button class="btn signout">Sign Out</button>

<h1>Welcome {{name}}</h1>

<!-- Public JS -->
<script src="/javascripts/dashboard.js" charset="utf-8"></script>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '1959801837584544',
            cookie: true, // enable cookies to allow the server to access
            // the session
            xfbml: true, // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });
    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $('.signout').click(() => {
      FB.getLoginStatus(function(response) {
        FB.logout(function(response) {
          window.location = '/'
        })
      })
    })
</script>
