<h1>FB OAuth</h1>
<p>Welcome!</p>

<!-- Script -->
<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }



    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        FB.api('/me?fields=name,email', function(response) {
            let name = response.name
            let email = response.email
            let userID = response.id

            $.ajax({
              method: 'post',
              url: '/',
              data: { name, email, userID },
              success: (success) => {
                if (success) {
                  window.location = '/dashboard'
                }
              },
              error: (err) => {
                console.log('Error: ', err)
              }
            })
        });
    }

    // checkLoginState()
</script>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<!-- Public JS -->
<script src="/javascripts/index.js" charset="utf-8"></script>
