<h1>FB OAuth</h1>
<p>Welcome!</p>

<!-- Script -->
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '1959801837584544',
            cookie: true, // enable cookies to allow the server to access
            // the session
            xfbml: true, // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        })
    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            testAPI();
        } else {
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    function testAPI() {
        FB.api('/me?fields=name,email', function(response) {
            let name = response.name
            let email = response.email
            let userID = response.id

            $.ajax({
                method: 'post',
                url: '/',
                data: {
                    name,
                    email,
                    userID
                },
                success: (success) => {
                    if (success) {
                        window.location = '/dashboard'
                    }
                },
                error: (err) => {
                    console.log('Error: ', err)
                }
            })
        });
    }
</script>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<!-- Public JS -->
<script src="/javascripts/index.js" charset="utf-8"></script>
